<html>
	<head></head>
<body background="/media/images3.jpg" style="background-size:cover">
	<br>
	<h1><font color="#FF4500">MOVIE ANALYSIS</font></h1>
	<br><br>
	<h3><font color="#FF4500">To Get similar Movies to Your Favourite Movie<font></h3><a href="{% url 'page_knn' %}" target="_blank"><font color="black">click here</font></a>
	<br><br>
	<h3><font color="#FF4500">To get "K-means Analysis of most rated movies with most active users"</font></h3><a href="{% url 'heatmap' %}" target="main_page"><font color="black">click here</font></a>
	<br><br>
	<h3><font color="#FF4500">To get "Analysis of Film Production over 1990 to 2016"</font></h3><a href="{% url 'img1' %}" target="main_page"><font color="black">click here</font></a>
	<br><br>
	<h3><font color="#FF4500">To get "Agewise Analysis of Films Watched"<font></h3><a href="{% url 'img2' %}" target="main_page"><font color="black">click here</font></a>
	<br><br>
	<h3><font color="#FF4500">To Return to Recommendation page<font></h3><a href="{% url 'main_page' %}" target="main_page"><font color="black">click here</font></a>
</body>

</html>
